@using MudBlazor;

<MudCarousel Class="mud-width-full" Style="height:400px;" ShowArrows=true ShowBullets=true EnableSwipeGesture=true AutoCycle=true TData="object">
    <MudCarouselItem Transition="Transition.Slide" Color="@Color.Transparent">
        <div class="d-flex" style="height:100%">
            <MudImage Fluid=true Src="Img/1.png" Width="400" Height="300"  Class="mx-auto my-auto" />
        </div>
    </MudCarouselItem>
    <MudCarouselItem Transition="Transition.Slide" Color="@Color.Transparent">
        <div class="d-flex" style="height:100%">
            <MudImage Fluid=true Src="Img/2.png" Width="400" Height="300" Class="mx-auto my-auto" />
        </div>
    </MudCarouselItem>
    <MudCarouselItem Transition="Transition.Slide">
        <div class="d-flex" style="height:100%">
            <MudImage Fluid=true Src="Img/3.png" Width="400" Height="300" Class="mx-auto my-auto" />
        </div>
    </MudCarouselItem>
</MudCarousel>

@code {
    
}
