@using MudBlazor


<MudGrid class="d-flex justify-center" Style="background-color:aqua">

	<MudItem xs="12" sm="12" md="6" lg="6" xl="6" xxl="6">
		<div class="d-flex justify-center">
			<MudImage ObjectFit="ObjectFit.Fill" Height="100" Width="300" Src="/img/LOGO.png" Alt="SOAT" Elevation="25" Class="rounded-lg" />
		</div>
	</MudItem>
</MudGrid>