@using MudBlazor;

<MudDialog>
    <DialogContent>
        <div class="d-flex justify-center">
            <MudImage Fluid="true"  Src="/img/rifa_finalizada.png" Alt="Rifa finalizada"  Class="rounded-lg" />
        </div>
    </DialogContent>
    <DialogActions>
    </DialogActions>
</MudDialog>
@code {

}