@using MudBlazor;

<MudCarousel Class="container py-4 px-3 mx-auto text-center display-2"  Style="height:400px; width:500px" ShowArrows=true ShowBullets=true EnableSwipeGesture=true AutoCycle=true TData="object">
    <MudCarouselItem Transition="Transition.Slide" Color="@Color.Transparent">
        <div class="d-flex" style="height:100%">
            <MudImage Fluid=true Src="Img/1.png"  Alt="Swedish Farm House"  Class="mx-auto my-auto" />
        </div>
    </MudCarouselItem>
    <MudCarouselItem Transition="Transition.Slide" Color="@Color.Transparent">
        <div class="d-flex" style="height:100%">
            <MudImage Fluid=true Src="Img/2.png" Width="500" Height="400" Alt="Swedish Farm House" Class="mx-auto my-auto" />
        </div>
    </MudCarouselItem>
    <MudCarouselItem Transition="Transition.Slide">
        <div class="d-flex" style="height:100%">
            <MudImage Fluid=true Src="Img/3.png" Width="500" Height="400" Alt="Swedish Farm House" Class="mx-auto my-auto" />
        </div>
    </MudCarouselItem>
</MudCarousel>

@code {
    
}
