@using MudBlazor

<footer style="background-color:white">
	<div Class="d-flex justify-space-around flex-wrap mt-4">
		<MudImage ObjectFit="ObjectFit.Contain" Width="130" Height="130" Src="/img/nike.png" Alt="Örebro Slott" Elevation="25" Class="rounded-lg ma-4" />
		<MudImage ObjectFit="ObjectFit.Contain" Width="130" Height="130" Src="/img/nike.png" Alt="Örebro Slott" Elevation="25" Class="rounded-lg ma-4" />
		<MudImage ObjectFit="ObjectFit.Contain" Width="130" Height="130" Src="/img/nike.png" Alt="Örebro Slott" Elevation="25" Class="rounded-lg ma-4" />
		<MudImage ObjectFit="ObjectFit.Contain" Width="130" Height="130" Src="/img/nike.png" Alt="Örebro Slott" Elevation="25" Class="rounded-lg ma-4" />
	</div>

	<div Class="d-flex justify-space-around flex-wrap mt-1">
		<MudText>Copyright © 2024</MudText>

	</div>


</footer>




@code {


	int xs = 12;
	int sm = 12;
	int md = 12;
	int lg = 6;
	int xl = 4;
	int xxl = 4;

	public int IntValue { get; set; }

}
