
/*FONDO*/



@media (max-width: 992px) {
    .timeline {
        padding: 15px;
    }

        .timeline:after {
            border: 0;
        }

        .timeline .timeline-row:nth-child(odd) {
            padding: 0;
        }

            .timeline .timeline-row:nth-child(odd) .timeline-time {
                position: relative;
                top: 0;
                left: 0;
                margin: 0 0 10px 0;
            }

            .timeline .timeline-row:nth-child(odd) .timeline-content {
                margin: 0;
            }

                .timeline .timeline-row:nth-child(odd) .timeline-content:before {
                    display: none;
                }

                .timeline .timeline-row:nth-child(odd) .timeline-content:after {
                    display: none;
                }

        .timeline .timeline-row:nth-child(even) {
            padding: 0;
        }

            .timeline .timeline-row:nth-child(even) .timeline-time {
                position: relative;
                top: 0;
                left: 0;
                margin: 0 0 10px 0;
                text-align: left;
            }

            .timeline .timeline-row:nth-child(even) .timeline-content {
                margin: 0;
            }

                .timeline .timeline-row:nth-child(even) .timeline-content:before {
                    display: none;
                }

                .timeline .timeline-row:nth-child(even) .timeline-content:after {
                    display: none;
                }
}

@keyframes animate {
    0% {
        filter: hue-rotate(0deg);
    }

    100% {
        filter: hue-rotate(360deg);
    }
}

/*CUBO*/


.fa-cube {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 60vh;
    position: relative;
    top: -100px;
    transform: skewY(-20deg);
    animation: animate 5s linear infinite;
}

    .fa-cube .cube {
        position: relative;
        z-index: 2;
    }

        .fa-cube .cube:nth-child(2) {
            z-index: 1;
            translate: -60px -60px;
        }

        .fa-cube .cube:nth-child(3) {
            z-index: 3;
            translate: 60px 60px;
        }

        .fa-cube .cube div {
            position: absolute;
            display: flex;
            flex-direction: column;
            gap: 30px;
            translate: calc(-70px * var(--x)) calc(-60px * var(--y));
        }

            .fa-cube .cube div span {
                position: relative;
                display: inline-block;
                width: 50px;
                height: 50px;
                background: #dcdcdc;
                z-index: calc(1 * var(--i));
                transition: 1.5s;
            }

                .fa-cube .cube div span:hover {
                    transition: 0s;
                    background: #ef4149;
                    filter: drop-shadow(0 0 30px #ef4149);
                }

                    .fa-cube .cube div span:hover:before, .fa-cube .cube div span:hover:after {
                        transition: 0s;
                        background: #ef4149;
                    }

                .fa-cube .cube div span:before {
                    content: "";
                    position: absolute;
                    left: -40px;
                    width: 40px;
                    height: 100%;
                    background: #fff;
                    transform-origin: right;
                    transform: skewY(45deg);
                    transition: 1.5s;
                }

                .fa-cube .cube div span:after {
                    content: "";
                    position: absolute;
                    top: -40px;
                    left: 0px;
                    width: 100%;
                    height: 40px;
                    background: #f2f2f2;
                    transform-origin: bottom;
                    transform: skewX(45deg);
                    transition: 1.5s;
                }


/*SERVICIOS*/


.services {
    padding: 0px 0;
}

.title h2 {
    font-weight: 600;
    font-size: 35px;
    color: #232323;
}

.title p {
    color: #848484;
    margin: 0 auto;
}

.border {
    height: 2px;
    margin: 20px auto 20px;
    position: relative;
    width: 80px;
    background: #28ABE3;
    margin-bottom: 60px;
}

.services .service-block.color-bg {
    background: #28ABE3;
    color: #fff;
}

.services .service-block .service-icon {
    margin-bottom: 10px;
}

.services .service-block.color-bg i, .services .service-block.color-bg h3, .services .service-block.color-bg p {
    color: #fff;
}

.services .service-block h3 {
    color: #fff;
    font-size: 18px;
    text-transform: uppercase;
    font-weight: bold;
}

.services .service-block p {
    font-size: 14px;
    color: #fff;
}

.services .service-block h3 {
    color: #333;
    font-size: 18px;
    text-transform: uppercase;
    font-weight: bold;
}

.services .service-block p {
    font-size: 14px;
    color: #666;
}

.services .service-block.color-bg i, .services .service-block.color-bg h3, .services .service-block.color-bg p {
    color: #fff;
}

.services .service-block i {
    font-size: 40px;
    color: #28ABE3;
}

/*NAV TAPS*/


.nav-pills-custom .nav-link {
    color: #aaa;
    background: #fff;
    position: relative;
}

    .nav-pills-custom .nav-link.active {
        color: #45b649;
        background: #fff;
    }


@media (min-width: 992px) {
    .nav-pills-custom .nav-link::before {
        content: '';
        display: block;
        border-top: 8px solid transparent;
        border-left: 10px solid #fff;
        border-bottom: 8px solid transparent;
        position: absolute;
        top: 50%;
        right: -10px;
        transform: translateY(-50%);
        opacity: 0;
    }
}

.nav-pills-custom .nav-link.active::before {
    opacity: 1;
}




/*TESTIMONIOS*/
h2 {
    color: #333;
    text-align: center;
    text-transform: uppercase;
    font-family: "Roboto", sans-serif;
    font-weight: bold;
    position: relative;
    margin: 30px 0 60px;
}

    h2::after {
        content: "";
        width: 100px;
        position: absolute;
        margin: 0 auto;
        height: 3px;
        background: #8fbc54;
        left: 0;
        right: 0;
        bottom: -10px;
    }

.col-center {
    margin: 0 auto;
    float: none !important;
}

.carousel {
    padding: 0 70px;
}

    .carousel .carousel-item {
        color: #999;
        font-size: 14px;
        text-align: center;
        overflow: hidden;
        min-height: 290px;
    }

        .carousel .carousel-item .img-box {
            width: 135px;
            height: 135px;
            margin: 0 auto;
            padding: 5px;
            border: 2px dotted #00b5fd;
            border-radius: 50%;
        }

    .carousel .img-box img {
        width: 100%;
        height: 100%;
        display: block;
        border-radius: 50%;
    }

    .carousel .testimonial {
        padding: 30px 0 10px;
    }

    .carousel .overview {
        font-style: italic;
    }

        .carousel .overview b {
            text-transform: uppercase;
            color: #7AA641;
        }

.carousel-control-prev, .carousel-control-next {
    width: 40px;
    height: 40px;
    margin-top: -20px;
    top: 50%;
    background: none;
}

    .carousel-control-prev i, .carousel-control-next i {
        font-size: 68px;
        line-height: 42px;
        position: absolute;
        display: inline-block;
        color: rgba(0, 0, 0, 0.8);
        text-shadow: 0 3px 3px #e6e6e6, 0 0 0 #000;
    }

.carousel-indicators {
    bottom: -40px;
}

    .carousel-indicators li, .carousel-indicators li.active {
        width: 12px;
        height: 12px;
        margin: 1px 3px;
        border-radius: 50%;
        border: none;
    }

    .carousel-indicators li {
        background: #999;
        border-color: transparent;
        box-shadow: inset 0 2px 1px rgba(0,0,0,0.2);
    }

        .carousel-indicators li.active {
            background: #555;
            box-shadow: inset 0 2px 1px rgba(0,0,0,0.2);
        }


#Section-6 {
    margin-top: 100px;
}


.card {
    background-color: white;
    border-radius: 10px;
    color: #3682ff;
}

    .card:hover {
        transform: translateY(-20px);
        transition: 0.4s ease-out;
        border-radius: 20px;
        border: double;
        border-color: aqua;
        background: #3682ff;
        color: white;
    }



.section-title {
    margin-bottom: 38px;
}

.shadow, .subscription-wrapper {
    box-shadow: 0px 15px 39px 0px rgba(8, 18, 109, 0.1) !important;
}

.icon-primary {
    color: #062caf;
}

.icon-bg-circle {
    position: relative;
}

.icon-lg {
    font-size: 50px;
}

.icon-bg-circle::before {
    z-index: 1;
    position: relative;
}

.icon-bg-primary::after {
    background: #062caf !important;
}

.icon-bg-circle::after {
    content: '';
    position: absolute;
    width: 68px;
    height: 68px;
    top: -35px;
    left: 15px;
    border-radius: 50%;
    background: inherit;
    opacity: .1;
}

#TextCard {
    font-weight: 400;
    color: black;
    font-size: 15px;
    line-height: 1.6;
    font-family: "Open Sans", sans-serif;
}

    #TextCard:hover {
        font-weight: 400;
        color: white;
        font-size: 15px;
        line-height: 1.6;
        font-family: "Open Sans", sans-serif;
    }


.icon-bg-yellow::after {
    background: #f6a622 !important;
}

.icon-bg-purple::after {
    background: #7952f5;
}

.icon-yellow {
    color: #f6a622;
}


.icon-purple {
    color: #7952f5;
}


.icon-cyan {
    color: #02d0a1;
}

.icon-bg-cyan::after {
    background: #02d0a1;
}

.icon-bg-red::after {
    background: #ff4949;
}

.icon-red {
    color: #ff4949;
}

.icon-bg-green::after {
    background: #66cc33;
}

.icon-green {
    color: #66cc33;
}

.icon-bg-orange::after {
    background: #ff7c17;
}

.icon-orange {
    color: #ff7c17;
}

.icon-bg-blue::after {
    background: #3682ff;
}

.icon-blue {
    color: #3682ff;
}



/*//////////////////*/

#buttonWsp {
    color: white;
    border-radius: 50%;
    height: 50px;
    width: 20px;
}

.btn-flotante {
    position: fixed;
    bottom: 150px;
    right: 40px;
    transition: all 300ms ease 0ms;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
    z-index: 99;
    border-radius: 50%;
}

    .btn-flotante:hover {
        box-shadow: 0px 15px 20px rgba(0, 0, 0, 0.3);
        transform: translateY(-7px);
    }

@media only screen and (max-width: 600px) {
    .btn-flotante {
        font-size: 14px;
        bottom: 20px;
        right: 20px;
    }
}

.pulse {
    height: 50px;
    width: 50px;
    background-color: green;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;

}

    .pulse::before {
        content: "";
        position: absolute;
        border: 1px solid green;
        width: calc(100% + 40px);
        height: calc(100% + 40px);
        border-radius: 50%;
        animation: pulse 1s linear infinite;
    }

    .pulse::after {
        position: absolute;
        border: 1px solid green;
        width: calc(100% + 40px);
        height: calc(100% + 40px);
        border-radius: 50%;
        animation: pulse 1s linear infinite;
        animation-delay: 0.3s;
    }

@keyframes pulse {

    0% {
        transform: scale(0.5);
        opacity: 0;
    }

    50% {
        transform: scale(1);
        opacity: 1;
    }

    100% {
        transform: scale(1.3);
        opacity: 0;
    }
}
