
body {
    font-family: 'Source Sans Pro', sans-serif;
    background: #8ff1ff36;
    position:center
}

.logo {
    height: 40px !important;
}

Header {
    background-color: #8ff1ffff;
}


nav ul {
    margin-right: 20px;
}

div ul li {
    display: table-cell;
    margin: 0 5px;
}

    div ul li a {
        color: black;
        font-size: 18px;
        padding: 7px 13px;
        border-radius: 15px;
        text-transform: uppercase;
        font-family: 'Source Sans Pro', sans-serif;
    }
        
            div ul li a:hover {
                background-clip: border-box !important;
                transition: .1s;
                border-block-end: groove;
                border-block-start: groove;
                color: #093137ff;
            }



