


body {
    font-family: 'Source Sans Pro', sans-serif;
    /*background: #8ff1ff36;*/
    background-image: linear-gradient(to left,#729CCC,#8ff1ff36);
    /*background-image: url("../Img/EMPRESA/background.png");*/
    /*background-size: contain;*/
}

.ftco-navbar-light {
    background-image: linear-gradient(to left,#8ff1ffff,#8ff1ff36);
    z-index: 1;
}


@media (max-width: 991.98px) {
    .ftco-navbar-light {
        background-image: linear-gradient(to left,#8ff1ffff,#8ff1ff36);
        position: relative;
        top: 0;
        padding: 10px 15px;
    }

    .logo {
        height: 40px;
    }
}

.ftco-navbar-light .navbar-nav > .nav-item > .nav-link {
    font-size: 14px;
    padding-top: 1.2rem;
    padding-bottom: 1.2rem;
    padding-left: 20px;
    padding-right: 20px;
    font-weight: 400;
    color: black;
    position: relative;
    opacity: 1 !important;
}

    .ftco-navbar-light .navbar-nav > .nav-item > .nav-link:hover {
        background-clip: border-box !important;
        transition: .1s;
        border-block-end: ridge;
        background-image: linear-gradient(to left,#8ff1ffff,#8ff1ff36);
    }


.ftco-navbar-light .navbar-nav > .nav-item .dropdown-menu {
    border: none;
    background-image: linear-gradient(to left,#8ff1ffff,#8ff1ff36);
    border-radius: 20px;
    top: 80px;
    width: auto;
    position: center;
}

.ftco-navbar-light .navbar-nav > .nav-item .dropdown-menu .dropdown-item {
        font-size: 12px;
        color: black;
        padding: 15px 20px;
        border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    }

    .ftco-navbar-light .navbar-nav > .nav-item .dropdown-menu .dropdown-item:hover, .ftco-navbar-light .navbar-nav > .nav-item .dropdown-menu .dropdown-item:focus {
        background-clip: border-box !important;
        transition: .1s;
        border-block-end: double;
        background-image: linear-gradient(to left,#8ff1ffff,#8ff1ff36);
        width: 100%;
    }


.ftco-navbar-light .navbar-nav > .nav-item .dropdown-menu .text h3 {
        font-size: 16px;
        font-weight: 600;
        margin-bottom: 0;
    }

.ftco-navbar-light .navbar-nav > .nav-item .dropdown-menu .text h3 a {
            color: darkblue;
        }

.ftco-navbar-light .navbar-nav > .nav-item .dropdown-menu .text span {
        font-size: 14px;
        color: rgba(0, 0, 0, 0.2);
    }




