@page "/Empresa/Nosotros"
@using MudBlazor;
@using SIMRIFA.Componentes.Genericos
@using SIMRIFA.Componentes.Rifas.Header
@using SIMRIFA.Data;


<html>
<head>
	<link rel="stylesheet" href="/css/Empresa/StyleEmpresa.css">


	<style>

	</style>
</head>

<body>
	<HeaderTexto Texto="Nosotros"></HeaderTexto>

	<section class="container">
		<MudGrid Spacing="3" Justify="Justify.Center" Style="align-items:center">
			<MudItem sm="12" lg="6" xl="6">
				<div class="justify-content-center">
					<div class="text-center">
						<h3 class="mb-3">Nosotros</h3>
						<h6 class="subtitle font-weight-normal">
							En <b>OsdagupO</b> , nos especializamos en desarrollar soluciones web a medida que impulsan el éxito de nuestros clientes.
							Con un enfoque centrado en la innovación y la calidad, nuestro equipo de expertos trabaja estrechamente con cada cliente para crear
							páginas web que no solo se vean bien, sino que también ofrezcan una experiencia de usuario excepcional y cumplan con los objetivos
							de negocio específicos. Desde sitios web corporativos hasta plataformas de comercio electrónico, nos dedicamos a entregar proyectos
							que superen las expectativas y establezcan una presencia digital sólida y efectiva. <br />

						</h6>
					</div>
				</div>
			</MudItem>
			<MudItem sm="12" lg="6" xl="6">
				<figure style="width:500px">
					<MudImageGeneric Fluid="true" Alt="Nosotros" urlImageCupones1="img/EMPRESA/nosotros_team1.png"></MudImageGeneric>
				</figure>
				@*<figure><img src="img/EMPRESA/nosotros.png" alt="#" style="width: 500px;" /></figure>*@
			</MudItem>
		</MudGrid>
	</section>

	<section class="container">
		<MudGrid Spacing="3" Justify="Justify.Center" Style="align-items:center">
			<MudItem sm="12" lg="6" xl="6">
				<figure style="width:500px">
					<MudImageGeneric Fluid="true" Alt="Nosotros" urlImageCupones1="img/EMPRESA/nosotros_team2.png"></MudImageGeneric>
				</figure>
				@*<figure><img src="img/EMPRESA/nosotros.png" alt="#" style="width: 500px;" /></figure>*@
			</MudItem>
			<MudItem sm="12" lg="6" xl="6">
				<div class="justify-content-center">
					<div class="text-center">
						<h3 class="mb-3">Charlas</h3>
						<h6 class="subtitle font-weight-normal">
							En <b>OsdagupO</b> , nos especializamos en desarrollar soluciones web a medida que impulsan el éxito de nuestros clientes.
							Con un enfoque centrado en la innovación y la calidad, nuestro equipo de expertos trabaja estrechamente con cada cliente para crear
							páginas web que no solo se vean bien, sino que también ofrezcan una experiencia de usuario excepcional y cumplan con los objetivos
							de negocio específicos. Desde sitios web corporativos hasta plataformas de comercio electrónico, nos dedicamos a entregar proyectos
							que superen las expectativas y establezcan una presencia digital sólida y efectiva. <br />

						</h6>
					</div>
				</div>
			</MudItem>
		</MudGrid>
	</section>

	<section class="container">
		<MudGrid Spacing="3" Justify="Justify.Center" Style="align-items:center">
			<MudItem sm="12" lg="6" xl="6">
				<div class="justify-content-center">
					<div class="text-center">
						<h3 class="mb-3">Planing</h3>
						<h6 class="subtitle font-weight-normal">
							En <b>OsdagupO</b> , nos especializamos en desarrollar soluciones web a medida que impulsan el éxito de nuestros clientes.
							Con un enfoque centrado en la innovación y la calidad, nuestro equipo de expertos trabaja estrechamente con cada cliente para crear
							páginas web que no solo se vean bien, sino que también ofrezcan una experiencia de usuario excepcional y cumplan con los objetivos
							de negocio específicos. Desde sitios web corporativos hasta plataformas de comercio electrónico, nos dedicamos a entregar proyectos
							que superen las expectativas y establezcan una presencia digital sólida y efectiva. <br />

						</h6>
					</div>
				</div>
			</MudItem>
			<MudItem sm="12" lg="6" xl="6">
				<figure style="width:500px">
					<MudImageGeneric Fluid="true" Alt="Nosotros" urlImageCupones1="img/EMPRESA/nosotros_team.png"></MudImageGeneric>
				</figure>
				@*<figure><img src="img/EMPRESA/nosotros.png" alt="#" style="width: 500px;" /></figure>*@
			</MudItem>
		</MudGrid>
	</section>

	<section class="container">
		<MudGrid Spacing="3" Justify="Justify.Center" Style="align-items:center">
			<MudItem sm="12" lg="6" xl="6">
				<figure style="width:500px">
					<MudImageGeneric Fluid="true" Alt="Nosotros" urlImageCupones1="img/EMPRESA/nosotros_team3.png"></MudImageGeneric>
				</figure>
				@*<figure><img src="img/EMPRESA/nosotros.png" alt="#" style="width: 500px;" /></figure>*@
			</MudItem>
			<MudItem sm="12" lg="6" xl="6">
				<div class="justify-content-center">
					<div class="text-center">
						<h3 class="mb-3">Equipo</h3>
						<h6 class="subtitle font-weight-normal">
							En <b>OsdagupO</b> , nos especializamos en desarrollar soluciones web a medida que impulsan el éxito de nuestros clientes.
							Con un enfoque centrado en la innovación y la calidad, nuestro equipo de expertos trabaja estrechamente con cada cliente para crear
							páginas web que no solo se vean bien, sino que también ofrezcan una experiencia de usuario excepcional y cumplan con los objetivos
							de negocio específicos. Desde sitios web corporativos hasta plataformas de comercio electrónico, nos dedicamos a entregar proyectos
							que superen las expectativas y establezcan una presencia digital sólida y efectiva. <br />

						</h6>
					</div>
				</div>
			</MudItem>
		</MudGrid>
	</section>

	<section class="container">
		<MudGrid Spacing="3" Justify="Justify.Center" Style="align-items:center">
			<MudItem sm="12" lg="6" xl="6">
				<div class="justify-content-center">
					<div class="text-center">
						<h3 class="mb-3">Ideas</h3>
						<h6 class="subtitle font-weight-normal">
							En <b>OsdagupO</b> , nos especializamos en desarrollar soluciones web a medida que impulsan el éxito de nuestros clientes.
							Con un enfoque centrado en la innovación y la calidad, nuestro equipo de expertos trabaja estrechamente con cada cliente para crear
							páginas web que no solo se vean bien, sino que también ofrezcan una experiencia de usuario excepcional y cumplan con los objetivos
							de negocio específicos. Desde sitios web corporativos hasta plataformas de comercio electrónico, nos dedicamos a entregar proyectos
							que superen las expectativas y establezcan una presencia digital sólida y efectiva. <br />

						</h6>
					</div>
				</div>
			</MudItem>
			<MudItem sm="12" lg="6" xl="6">
				<figure style="width:500px">
					<MudImageGeneric Fluid="true" Alt="Nosotros" urlImageCupones1="img/EMPRESA/nosotros_team4.png"></MudImageGeneric>
				</figure>
				@*<figure><img src="img/EMPRESA/nosotros.png" alt="#" style="width: 500px;" /></figure>*@
			</MudItem>
		</MudGrid>
	</section>
</body>
</html>



@code {

	@inject MenuState MenuState;

	protected override void OnInitialized()
	{
		MenuState.SetMenuVisibility(true);
	}
}